<form [formGroup]="loginForm" (ngSubmit)="submit()">
  <div>
  <label for="username">Username: </label>
  <input
    id="username"
    formControlName="username"
    type="text"
    class="border w-full py-2 px-4 mb-2"
    placeholder="Username"
  >
  <label for="password">Password: </label>
  <input
    id="password"
    formControlName="password"
    type="password"
    class="border text-black w-full py-2 px-4 mb-2"
    placeholder="Password"
  >
  <button
    type="submit"
    class="py-2 px-4 bg-blue-600 text-white"
  >
    Login
  </button>
  </div>
</form>
