<form [formGroup]="loginForm" (ngSubmit)="submit()">
  <div>
  <label for="usernameLogin">Username: </label>
  <input
    id="usernameLogin"
    formControlName="username"
    type="text"
    class="border w-full py-2 px-4 mb-2 placeholder-black text-black"
    placeholder="Username"
  >
  <label for="passwordLogin">Password: </label>
  <input
    id="passwordLogin"
    formControlName="password"
    type="password"
    class="border w-full py-2 px-4 mb-2 placeholder-black text-black"
    placeholder="Password"
  >
  <button
    type="submit"
    class="py-2 px-4 bg-blue-600 text-white"
  >
    Login
  </button>
  </div>
</form>
