<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col" *ngFor="let product of products">
                <div class="card shadow-sm">

                    <img [routerLink]="['/details', product.id]" style="display: block; margin-left: auto; margin-right: auto;" src="assets/images/{{product.id}}.jpg" width="300" height="300">

                    <div class="card-body">

                        <p class="card-text">{{product.title}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a [routerLink]="['/details', product.id]"><button type="button" class="btn btn-sm btn-outline-secondary">Details</button></a>
                            
                            <button type="button" class="btn btn-sm btn-warning">Add to cart</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
